node_modules/
dist/
coverage/

# TypeScript
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store

# Env files
.env
.env.*

# IDE
.vscode/
.idea/

# npm pack artifacts
*.tgz
